@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background-color: #eee;
  font-family: Roboto;
}

a {
  color: black;
}

header {
  text-align: left;
}

.title {
  font-family: Roboto;
  display: inline;
  margin: 0 7px;
}

.errorText {
  color: red;
}

.formContainer {
  margin: auto;
  text-align: center;
}

.userInput {
  flex: 1;
  height: 42px;
  padding: 0 20px;
  background: #fff;
  bottom: 0;
  color: #444;
  font-size: 18px;
  border-radius: 4px;
}

.searchButton {
  width: 150px;
  height: 42px;
  padding: 10px;
  margin-left: 10px;
  background: orange;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.repoListContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.row{
  width: 100%;
  float: none;
  display: flex;
  margin: 7px 0;
}

.celula {
  float: left;
  padding:  0.8em 1.2em;
}

.col_princ {
  width: 30%;
}

.col_item {
  width: 23%;
  text-align: center;
}